@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 22px;
  background-color: #c2c2d6;
  color: white;
}
